header {
    font-size: 30px;
}

table {
    border-collapse: separate;
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#disc tr:nth-child(even) {
    background-color: #f2f2f2;
}

#disc tr:hover {
    background-color: #ddd;
}

#disc td {
    padding: 10px;
}

#disc th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: rgb(70, 17, 17);
    color: white;
}